<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ALBUMS</title>
    <%albums.forEach(function(e){%>
        <li><%=e.name%><br><a href="/albums/<%=e.id%>">Ver albums</a></li>
      <%})%>
  </head>
  <body>
  </body>
</html>
