<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ARTISTS</title>
    <%artists.forEach(function(e){%>
        <li><%=e.name%><br><a href="<%=e.id%>">Ver albums</li>
      <%})%>
  </head>
  <body>
  </body>
</html>
