<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SPOTIFY</title>
    <form action="/artists" method="post">
      <label for="artist">First Name:</label>
      <input id="artist" type="text" name="artistName">
      <input type="submit" value="Buscar">
    </form>
  </head>
  <body>
  </body>
</html>
